@media only screen and (max-width: 1398px) {
    .navigation div#mySidenavs ul {
        width: 30%;
    }
}

@media only screen and (max-width: 1199px) {
    section.collectiondetailpage {
        padding: 31px 0;
        height: auto;
    }

    .breadcrumbs h2 {
        font-size: 36px;
    }

    .whiteBox {
        padding: 20px 20px;
    }
}

@media only screen and (max-width: 991px) {

    .sidenavs {
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        display: inline-block;
        overflow-x: hidden;
        background: #052c43;
        height: 100vh;
        transition: all 0.3s;
        z-index: 9999999;
        padding-top: 45px;
    }

    .information-text {
        margin-top: 30px;
    }

    .page-header {
        opacity: 1;
    }

    .toggle-bar {
        display: block !important;
        color: #052c43;
    }

    span.closebtn {
        display: block !important;
        text-align: right;
        color: #fff;
        position: absolute;
        right: 19px;
        top: 10px;
        font-size: 20px;
    }

    .navigation div#mySidenavs ul {
        display: block;
    }

    .navigation div#mySidenavs ul li {
        margin-left: 0px;
        padding-bottom: 10px;
    }

    .navigation div#mySidenavs ul li a {
        padding: 7px 20px;
        display: block;
        color: #fff;
    }

    .magnifying {
        /* display: flex; */
        align-items: flex-start;
        flex-direction: column;
    }

    .search-container {
        position: relative;
        margin: 24px 0 0 20px;
    }



    .navigation div#mySidenavs ul li a.active {
        color: #fff;
    }

    .navigation div#mySidenavs ul li a::after {
        display: none;
    }

    .navigation div#mySidenavs ul li a:hover {
        color: #fff;
    }

    .navigation div#mySidenavs ul {
        width: 100%;
    }

    .search-container {
        width: auto;
    }

    span input {
        font-size: 14px;
        width: 300px;
    }
}

@media only screen and (max-width: 767px) {
    .whiteBox {
        max-width: 100%;
    }

    .logo {
        width: 50%;
    }

    section.trend {

        height: 400px;

    }

    section.inner-page.faq {
        height: 400px;
    }

    section.inner-page.contact {
        height: 400px;
    }


}

@media only screen and (max-width: 424px) {
    span input {
        width: 250px;
    }
}