@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;

}

img {
    width: 100%;
}

figure {
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/*  */
.navigation {
    padding: 16px 0;
}

.logo {
    width: 20%;
}

.logo img {
    max-width: 100%;
}

.navigation div#mySidenavs ul {
    display: flex;
}

header.header {
    position: sticky;
    top: 0;
    z-index: 99;
}


.navigation div#mySidenavs ul li {
    margin-left: 20px;
}

.navigation .toggle-bar {
    display: none;
}

.navigation span.closebtn {
    display: none;
}

.navigation div#mySidenavs ul li a {
    display: block;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    position: relative;
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    border-radius: 40px;
    transition: background-color 240ms ease-in-out;
}

.navigation div#mySidenavs ul li a.active {
    color: #4f86f9;
}

.navigation div#mySidenavs ul li a:hover {
    color: #4f86f9;
}

.navigation div#mySidenavs ul li a::after {
    position: absolute;
    bottom: -6px;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #4f86f9;
    transition: width .3s;
    right: 0;
    left: initial;
}

.navigation div#mySidenavs ul li a:hover::after {
    width: 100%;
    right: initial;
    left: 0;
}

.navigation div#mySidenavs ul li a.active::after {
    width: 100%;
    right: initial;
    left: 0;
}

.page-header {
    width: 100%;
    background-color: #fff;
    z-index: 999;
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.is-sticky {
    position: fixed;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    padding: 16px 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    animation: slideDown 0.35s ease-out;
    background-color: #644222 !important;
    top: 0 !important;
    opacity: 1;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}



/*  */

section.collectiondetailpage {
    background: url(../images/banner.jpg)no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 800px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whiteBox {
    background: rgba(255, 255, 255, .96);
    min-height: 330px;
    width: 600px;
    max-width: 90%;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

span.breadcrumbtxt a {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
    color: #052c43;
}

.breadcrumbs h2 {
    font-size: 42px;
    margin: 10px 0 10px 0;
    color: #333;
}

.breadcrumbs p {
    color: #333;
    font-size: 15px;
    line-height: 30px;
}

.sharegroupblock {
    opacity: .5;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: 2px;
    text-align: center;
    margin: 50px 0 0;
}

.sharegroupblock span a {
    color: #333;
}

/*  */
section.heroLinkbottom {
    padding: 50px 0;
    background: #f9faff;
}

.proptextwrap {
    padding: 30px;
}



.propertylist {
    height: 100%;
}

.palm-springs {
    height: 100%;
}

.propimg {
    height: 100%;
}

.propimg a {
    display: block;
    height: 100%;
}

.proptextwrap h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
}

.proptextwrap p {
    font-size: 15px;
    line-height: 28px;
    color: #8c8c8c;

}

.propimg img {
    height: 334px;
    object-fit: cover;
}

.proptextwrap-btn {
    margin-top: 20px;
}

.heroLinkbottom-wrapper {
    background: #fff;
    border-radius: 4px;
    margin-bottom: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.heroLinkbottom-wrapper .row {
    align-items: center;
}

.proptextwrap-btn a {
    text-transform: capitalize;
    background: #4f86f9;
    color: #fff;
    border: 1px solid #4f86f9;
    border-radius: 4px;
    box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    padding: 14px 24px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.proptextwrap-btn a:hover {
    background-color: transparent;
    color: #4f86f9;
}

/* terms start */
#terms {
    padding: 50px 0;
    text-align: center;
}

.condition_wrap ul li::before {
    position: absolute;
    content: "";
    background: #000;
    width: 10px;
    height: 10px;
    top: 8px;
    left: 0;
    border-radius: 50%;
}


.condition_wrap h5 {
    font-size: 22px;
    padding-bottom: 20px;
}

.condition_wrap p {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}

.condition_wrap a {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
    padding-bottom: 20px;
    display: inline-block;
    color: #000;

}

.condition_wrap p a {
    color: #333;
}

.condition_wrap p {
    padding-bottom: 20px;
}

.condition_wrap ul li::before {
    position: absolute;
    content: "";
    background: #000;
    width: 8px;
    height: 8px;
    top: 8px;
    left: 0;
    border-radius: 50%;
}

.condition_wrap ul li {
    position: relative;
    padding-left: 20px;
    padding-bottom: 15px;
}

/*  */
section.inner-page {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

section.inner-page::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #00000087;
    z-index: -1;
}

.inner-page-heading {
    text-align: center;
}

.inner-page-heading h2 {
    color: #fff;
    font-size: 34px;
}

section.inner-page.faq {
    background: url(../images/faq.jpg)no-repeat;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

section.inner-page.contact {
    background: url(../images/contact.jpg);
    background-size: cover;
    background-position: center;
}


/*  */
/* FAQS */

.main-area-faqs {
    padding: 50px 0;
}

/* FAQS */
.accordion {
    color: #000;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    padding: 15px;
    margin: 26px 0 0;
    border-radius: 5px 5px 0px 0px;
    font-size: 18px;
    font-weight: 500;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.sub-acc {
    background-color: white;
    text-decoration: underline;
    margin: 0;
    padding: 18px 28px;
}

button.accordion.main-acc.one:focus {
    outline: none;
}

.main-faq-diclamier {
    margin-top: 80px;
}

.panel.main-panel {
    background: #fff;
    border-radius: 0px 0px 5px 5px;
    height: 100%;
    border-top: 1px solid #ccc;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.panel.main-panel p {
    padding: 20px;
    font-size: 16px;
    color: #000;
    line-height: 30px;
}

.list-content {
    padding-top: 20px;
    font-weight: 600;
    font-size: 25px !important;
}

button.accordion.main-acc.one.dr {
    margin-top: 10px !important;
}

.faqs-tex-area h3 {
    font-size: 35px;
}

.faqs-tex-area p {
    font-size: 20px;
}

.accordion:after {
    content: "\002B";
    color: #000;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-size: 28px;
    cursor: pointer;
}

.woodbine-link a:hover {
    border: 2px solid #8ed2c9;
    background: transparent;
    color: #8ed2c9;
}

.accordion-wrapper .active:after {
    content: "\2212";
}

.panel {
    position: relative;
    z-index: 2;
    background-color: white;
    border: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.sub-panel {
    border: none;
    /*   margin: 20px; */
}

.sub-panel p {
    padding: 0 18px;
    margin: 10px 20px;
    font-family: sans-serif;
}


.__web-inspector-hide-shortcut__,
.__web-inspector-hide-shortcut__ *,
.__web-inspector-hidebefore-shortcut__::before,
.__web-inspector-hideafter-shortcut__::after {
    visibility: inherit !important;
}

.faq-last-text h3 {
    font-size: 36px;
    font-weight: 700;
    color: #6fc6eb;
}

.faq-last-text p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #201f22;
    text-align: center;
}

button.accordion.main-acc.one {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.unser {
    padding: 50px 0;
}

.unser-wrapper p {
    font-size: 15px;
    line-height: 30px;
    padding-bottom: 10px;
}

.unser-wrapper h5 {
    font-size: 26px;
    padding-bottom: 10px;
    font-weight: 500;
}

.unser-wrapper p a {
    color: #052c43;
}

/*  */
footer.footer {
    background: linear-gradient(90deg, #1a1a1f 0, #292930 50%, #1a1a1f);
    padding: 50px 0 0 0;
    position: relative;

}

section.terms {
    padding-bottom: 50px;
}

.compleet-c p {
    color: #fff;
    font-weight: 600;
}

svg.swoop-top-svg {
    position: absolute;
    left: 0;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    top: -34px;
}

.footer-top {
    padding-top: 18px;
}

.footer-top ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-top ul li a {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    padding: 9px;
    display: block;
}

.footer-top ul li a:hover {
    color: #4f86f9;
}

.footer-social {
    margin-top: 18px;
    margin-bottom: 18px;
}

.footer-social ul li a {
    font-size: 27px;
}

.voorwaarden {
    text-align: center;
}

.voorwaarden p {
    color: #a1a1b3;
    font-weight: 400;
    font-size: 14px;
}

.voorwaarden p a {
    color: #a1a1b3;
    transition: all .15s ease-out;
    text-transform: capitalize;

}

.compleet-c {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

section.trend {
    background: url(../images/trend.jpg);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

.trend-inner {
    text-align: center;
}

.trend-inner h2 {
    font-size: 30px;
    color: #fff;
}

section.regrets {
    padding: 50px 0;
}

.regrets-wrapper .row {
    justify-content: center;
}

.regrets-wrapper .row .col-lg-4.col-md-6 {
    margin-bottom: 30px;
}
.regrets-wrapper .row .col-lg-6 {
    margin-bottom: 30px;
}
.regrets-inner {
    margin-bottom: 50px;
    text-align: center;
}

.stop-color h4 {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 30px;
}

.stop-color p {
    font-size: 16px;
    line-height: 28px;
    color: #000;
}

.stop-color {
    height: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: #fff;
    padding: 30px;
    text-align: center;
    border-radius: 4px;
}

.regrets-inner h2 {
    max-width: 792px;
    text-align: center;
    margin-bottom: 16px;
    margin-left: auto;
    text-shadow: 2px 2px 0 #4f86f95e;
    padding: 10px;
    margin-right: auto;
}

.regrets-inner h6 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 16px;
}

.magnifying {
    display: flex;
    align-items: center;
}

span.icon-search {
    position: absolute;
    top: 4px;
    right: 8px;
    color: #4f86f9;
}

.search-container {
    position: relative;
    margin: 0 0 0 30px;
}

span input {
    padding: 3px;
    padding-right: 30px;
    font-size: 16px;
    padding-left: 10px;
    background-color: rgb(241 241 241);
    border: transparent;
    border-radius: 4px;
    outline: none;
}

.avoid img {
    height: 236px;
    object-fit: cover;
    margin-bottom: 20px;
}
.regrets-wrapper.penguin {
    margin-top: 50px;
}